@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>

    Happy Pub is the place for student.
    Location : Room 304, 3/F, T. T. Tsui Building,
    The University of Hong Kong,
    Pokfulam Road, Hong Kong (Exit A2, HKU MTR Station)
<p>
    Tel: 2975 5680
    Weekdays - 11:00am － 11:00pm, Saturdays - Closed
</p>


<address>
    <strong>Support:</strong>   <a href="mailto:Support@happybar.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@happybar.com">Marketing@example.com</a>
</address>